<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="515812716745-t7hno1i869lv1fc127j36r3shcgfr76g.apps.googleusercontent.com" />
    <meta name="google-signin-fetch_basic_profile" content="false" />
    <meta name="google-signin-scope" content="profile openid" />
</head>
<body>

<script>
window.__api_hooks = (function() {
    function Trigger() {
        var that = this;
        this.promise = new Promise(function (r) {
            that.resolve = r;
        });
    }
    Trigger.prototype.trigger = function() { this.resolve(); }

    return { googleApi: new Trigger(), facebookSdk: new Trigger() };
})();
function onGapiLoad() { __api_hooks.googleApi.trigger() }
</script>

<script src="https://apis.google.com/js/platform.js?onload=onGapiLoad" async defer></script>

<script>
    var appIds = { prod: '1783504724996776', test: '1783514281662487' };
    var environment = location.hostname === "localhost" ? "test" : "prod";
    window.fbAsyncInit = function() {
        FB.init({
            appId: appIds[environment],
            xfbml: false,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
        __api_hooks.facebookSdk.trigger();
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Hotjar Tracking Code for fuel.araqnid.org -->
<script>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () {
            (h.hj.q = h.hj.q || []).push(arguments)
        };
        h._hjSettings = {hjid: 2032921, hjsv: 6};
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>

</body>
</html>
