<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="515812716745-t7hno1i869lv1fc127j36r3shcgfr76g.apps.googleusercontent.com" />
    <meta name="google-signin-fetch_basic_profile" content="false" />
    <meta name="google-signin-scope" content="profile openid" />
    <link rel="icon" type="image/png" href="images/1491804155_fuel.png" />
</head>
<body>

<div id="component.Root"></div>

<!--<div class="g-signin2"></div>-->
<!--<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>-->
<!--<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>-->

<script>
function onGapiLoad() { if ('BUS' in window) window.BUS.broadcast('GoogleApi.Loaded') }
</script>
<script src="https://apis.google.com/js/platform.js?onload=onGapiLoad" async defer></script>

<script>
    var appIds = { prod: '1783504724996776', test: '1783514281662487' };
    var environment = location.hostname === "localhost" ? "test" : "prod";
    window.fbAsyncInit = function() {
        FB.init({
            appId: appIds[environment],
            xfbml: false,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
        if ('BUS' in window) window.BUS.broadcast('FacebookSdk.Loaded');
    };
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>